{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">
    	$(document).ready(function(){
    	    $('.relatize').relatizeDate();
	    });
    </script>
{% endblock %}
{% block content %}
    <h2>Dashboard</h2>
    <p>
      Overview
    </p>
    {% for repo in repos %}
        {{ project(repo) }}
    {% else %}
    {% endfor %}
{% endblock %}
{% macro project(repo) -%}
    <h3>{{ repo.info.owner }}’s {{ repo.info.name }}</h3>
    <section>
        <ul>
        {% for commit in repo.commits %}
            <li class="commit {%- if loop.index > 3 %} more {%- endif %}">
                {{ commit_info(commit) }}
            </li>
        {% else %}
            <li><em>No commits have been made</em></li>
        {% endfor %}
        </ul>
    </section>
{%- endmacro %}
{% macro commit_info(commit) -%}
    <ul>
        <li class="link">
            <a href="{{ commit.url }}">{{ commit.id|truncate(7,True,'') }}</a>
        </li>
        <li class="message">
            <a href="{{ commit.url }}">{{ commit.message|truncate(75) }}</a>
        </li>
        <li class="date">
            <a href="{{ commit.url }}">
                <span class="relatize">{{ commit.committed_date }}</span>
            </a>
        </li>
        <li class="author">
            by {{ commit.committer.name }}
        </li>
    </ul>
{%- endmacro %}
